// Write your package code here!
.hipaaPolicyDocument{
  padding: 20px;

  hr {
    margin-bottom: 10px;
  }
  h1{

  }
  h2{

  }
  h3{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  h4{
    padding-bottom: 20px;
    color: #333333;
  }
  h5{
    margin-top: 20px;
    margin-bottom: 0px;
    color: #444444;
    font-weight: bold;
    padding-left: 20px;
  }
  h6{

  }
  ul{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }
  hr{
    margin-top: 40px;
  }
  ul{
    padding-left: 20px;
  }
  li{
    padding-top: 10px;
  }
  blockquote{
    margin-left: 20px;
  }
  ol{
    li{
      color: black;
    }
  }
}

.page{
  background-color: white;
}
